<footer class="alert alert-info navbar navbar-fixed-bottom">
    &copy; 2016 | Romika Bhatia
</footer>

<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />


<script src="/javascripts/jquery-3.1.1.min.js"></script>
<script src="/javascripts/jquery.validate.min.js"></script>
<script src="/javascripts/scripts.js"></script>
</body>
</html>
