<%- include partials/header.ejs %>

<div class = "container-full" style="background-image: linear-gradient(rgba(0, 0, 0, 0.8);">
  <div class ="row">
    <div class ="container fadeInDown animated">
      <div class = "text-center">
        <p class= "container"> DYNAMITE </p>
        <h1> </h1>
        <div class="container">

          <p class = "lead">I Want my dynamite fashion fix
          </p>
        </div>
      </div>
    </div>
    <div class = "text-center right-center">
      </br>
    </div>

  </div>
</div>
<% include partials/footer.ejs %>