<%- include partials/header.ejs %>


<div class="container-full" style="background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url('http://desktopbackgroundshq.com/backgrounds/background.jpg'); background-repeat:no-repeatdisplay: compact; ">
        <div class ="row">
        <div class ="container fadeInDown animated">
            <div class = "text-center">
                <p class= "container"> Dynamite </p>
                <h1> Dynamite Fashion</h1>
                <div class="container">
                    <tr>

                        <td class="td-column"><img src="../images/homepage.jpg" width="300px" height="200px"></td>

                            <div class ="row">
                                <p class = "lead">
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class = "text-center right-center">
                            </br>
                        </div>

                </div>
            </div>

<% include partials/footer.ejs %>