/* style for header.ejs **/

body
{
  padding: 5px;
  font: 15px "Lucida Grande", Arial, sans-serif;
  font-style: normal;
  height: 100%;
}
h1.name{
  font-family: Arial;
  font-size: 120px;
}

textarea{
  width:350px;
  height:150px;
  max-width: 400px;
  line-height: 19px;
}

/**  Style fir the footer.ejs **/
.footer-container {
  height: auto;
  background-color: rgba(240, 233, 236, 0.66);
}





